<a href="https://colab.research.google.com/github/atulpatil2228/-week-_1-assignment-_1/blob/week1/loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
## loops allows you to repeatedly a block of code , while and for loop

# while loop
## it repeatedly executes a block of code as long as codition is true

In [ ]:
n= 6
i= 1
while i <n :
  print(i)
  i = i+1

1
2
3
4
5

In [ ]:
count = 5
while count > 0:
  print(count)
  count= count -1
else:
  print("this will be executed when the while looop is run successfully")

5
4
3
2
1
this will be executed when the while looop is run successfully

In [ ]:
n= 6
i= 1
while i <n :
  print(i)
  i = i+1
  if i ==3:
    break
else:
   print("this will be executed when the while looop is run successfully")

1
2

In [ ]:
from ast import Continue
## continue >> to skip that iteration
n= 6
i= 1
while i <n :
  i = i+1
  if i ==3:
    continue
  print(i)
else:
   print("this will be executed when the while looop is run successfully")

2
4
5
6
this will be executed when the while looop is run successfully

In [ ]:
## for loops  >> iterate over a sequence of elements >> string or list

In [ ]:
a = "pwskills"
for char in a:
  print(char)

p
w
s
k
i
l
l
s

In [ ]:
for atul in a:
  print(atul)

p
w
s
k
i
l
l
s

In [ ]:
l = [1,2,"pwskills"]
for i in l :
  print(i)

1
2
pwskills

In [ ]:
for i in l:
  print(i)
else:
  print("this will executes when for loop ends ")

1
2
pwskills
this will executes when for loop ends

In [ ]:
for i in l:
  if i =="pwskills":
    break
  print(i)
else:
  print("this will executes when for loop ends ")

1
2

In [ ]:
for i in l:
  if i =="pwskills":
    continue
  print(i)
else:
  print("this will executes when for loop ends ")

1
2
this will executes when for loop ends

In [ ]:
list (range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
for i in range(0 ,10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
## syatax range (start , stop ,step)

In [ ]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list(range(0,10, 2))

[0, 2, 4, 6, 8]

In [ ]:
list(range(0,10,3))

[0, 3, 6, 9]

In [ ]:
## print a right triagle using while loop
row = 1
while row <= 4:
  col = 1
  while col<=row:
    print("*",end ="")
    col = col+1
  print()
  row = row+1

*
**
***
****

In [ ]:
for i in range (5):
  print(i, end= "  ")

0  1  2  3  4

In [2]:
course = ["ml","stats","data sc ","mathematics "]
index = 0

while index < len(course ):
  print(course[index])
  index = index + 1

ml
stats
data sc
mathematics

In [4]:
for i in range(4):
  for j in range (i+1):
    print("*" , end = " ")
  print()

*
* *
* * *
* * * *

In [6]:
number = [1,2,3,4,5,6,7]
for number in number:
  if(number==3) or (number==7):
    continue
  print(number)

1
2
4
5
6

In [7]:
number = [1,2,3,4,5,6,7]
for number in number:
  if(number==3) or (number==7):
    break
  print(number)

1
2

In [8]:
for  i in range(10):
  if i % 2 == 0:
    continue
  print(i)

1
3
5
7
9

In [10]:
for  i in range(10):
  if i % 2 != 0:
    continue
  print(i)

0
2
4
6
8